LampClient/Service References/ServiceReference1/LampCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LampCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LampCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/netDxf" />
  <xs:complexType name="LampCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LampCredentials" nillable="true" type="tns:LampCredentials" />
  <xs:complexType name="LampUserWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="tns:LampStatus" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:LampUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LampUserWrapper" nillable="true" type="tns:LampUserWrapper" />
  <xs:simpleType name="LampStatus">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="OK">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NoAccess">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DoesNotExist">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="InvalidUsernameOrPassword">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="InternalServerError">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="GuidConflict">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="LampStatus" nillable="true" type="tns:LampStatus" />
  <xs:complexType name="LampUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionLevel" type="tns:UserPermission" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LampUser" nillable="true" type="tns:LampUser" />
  <xs:simpleType name="UserPermission">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Guest" />
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Elevated" />
      <xs:enumeration value="Admin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserPermission" nillable="true" type="tns:UserPermission" />
  <xs:complexType name="LampTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseDrawing" nillable="true" type="tns:LampDxfDocument" />
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="IsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" type="xs:double" />
      <xs:element minOccurs="0" name="LongDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialThickness" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmitDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LampTemplate" nillable="true" type="tns:LampTemplate" />
  <xs:complexType name="LampDxfDocument">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/netDxf" minOccurs="0" name="BottomLeft" type="q2:Vector3" />
      <xs:element minOccurs="0" name="SerializedDrawing" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/netDxf" minOccurs="0" name="TopRight" type="q3:Vector3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LampDxfDocument" nillable="true" type="tns:LampDxfDocument" />
  <xs:complexType name="LampJob">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="LampJob" nillable="true" type="tns:LampJob" />
  <xs:complexType name="LampTemplateWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="tns:LampStatus" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="tns:LampTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LampTemplateWrapper" nillable="true" type="tns:LampTemplateWrapper" />
  <xs:complexType name="ArrayOfLampTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LampTemplate" nillable="true" type="tns:LampTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLampTemplate" nillable="true" type="tns:ArrayOfLampTemplate" />
</xs:schema>