LampClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LampService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LampCommon" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/netDxf" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILampService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ILampService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ILampService_AddTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTemplate" />
  </wsdl:message>
  <wsdl:message name="ILampService_AddTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ILampService_QueueJob_InputMessage">
    <wsdl:part name="parameters" element="tns:QueueJob" />
  </wsdl:message>
  <wsdl:message name="ILampService_QueueJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueueJobResponse" />
  </wsdl:message>
  <wsdl:message name="ILampService_GetTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplate" />
  </wsdl:message>
  <wsdl:message name="ILampService_GetTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ILampService_GetAllTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplate" />
  </wsdl:message>
  <wsdl:message name="ILampService_GetAllTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="ILampService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILampService/Authenticate" message="tns:ILampService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILampService/AuthenticateResponse" message="tns:ILampService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILampService/AddTemplate" message="tns:ILampService_AddTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILampService/AddTemplateResponse" message="tns:ILampService_AddTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueueJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ILampService/QueueJob" message="tns:ILampService_QueueJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILampService/QueueJobResponse" message="tns:ILampService_QueueJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILampService/GetTemplate" message="tns:ILampService_GetTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILampService/GetTemplateResponse" message="tns:ILampService_GetTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILampService/GetAllTemplate" message="tns:ILampService_GetAllTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILampService/GetAllTemplateResponse" message="tns:ILampService_GetAllTemplate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILampService" type="tns:ILampService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/ILampService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTemplate">
      <soap:operation soapAction="http://tempuri.org/ILampService/AddTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueueJob">
      <soap:operation soapAction="http://tempuri.org/ILampService/QueueJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplate">
      <soap:operation soapAction="http://tempuri.org/ILampService/GetTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTemplate">
      <soap:operation soapAction="http://tempuri.org/ILampService/GetAllTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LampService">
    <wsdl:port name="BasicHttpBinding_ILampService" binding="tns:BasicHttpBinding_ILampService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LampService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>