LampClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LampCommon" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="credentials" nillable="true" type="q1:LampCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="AuthenticateResult" nillable="true" type="q2:LampUserWrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="template" nillable="true" type="q3:LampTemplate" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="credentials" nillable="true" type="q4:LampCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="AddTemplateResult" type="q5:LampStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="job" nillable="true" type="q6:LampJob" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="credentials" nillable="true" type="q7:LampCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="QueueJobResult" type="q8:LampStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="credentials" nillable="true" type="q9:LampCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="GetTemplateResult" nillable="true" type="q10:LampTemplateWrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="credentials" nillable="true" type="q11:LampCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LampCommon" minOccurs="0" name="GetAllTemplateResult" nillable="true" type="q12:ArrayOfLampTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>