LampClient/Service References/LampServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LampService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LampCommon" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILampService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ILampService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ILampService_Return1_InputMessage">
    <wsdl:part name="parameters" element="tns:Return1" />
  </wsdl:message>
  <wsdl:message name="ILampService_Return1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Return1Response" />
  </wsdl:message>
  <wsdl:message name="ILampService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILampService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="ILampService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILampService/Authenticate" message="tns:ILampService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILampService/AuthenticateResponse" message="tns:ILampService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Return1">
      <wsdl:input wsaw:Action="http://tempuri.org/ILampService/Return1" message="tns:ILampService_Return1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILampService/Return1Response" message="tns:ILampService_Return1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ILampService/Add" message="tns:ILampService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILampService/AddResponse" message="tns:ILampService_Add_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILampService" type="tns:ILampService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/ILampService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Return1">
      <soap:operation soapAction="http://tempuri.org/ILampService/Return1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ILampService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LampService">
    <wsdl:port name="BasicHttpBinding_ILampService" binding="tns:BasicHttpBinding_ILampService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LampService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>